<link rel="stylesheet" href="../../assets/styles/template/nav-bar.css">

<div class="bar">
    <div class="bar-content-left">
        <a class="contenedor-logo" href="../index.html">
            <img src="../../assets/imgs/main-logo.png" alt="">
        </a>
    </div>
    <div class="bar-content">
        <div class="item-bar">
          <a id="boton-jugar" href="../juego/index.html">Jugar</a>
        </div>
        <div class="item-bar">
            <a href="../reglas/index.html">Reglas</a>
        </div>
        <div class="item-bar">
            <a href="../imperios/index.html">Imperios</a>
        </div>
        <div class="item-bar">
            <a href="../soldados/index.html">Soldados</a>
        </div>
        <div class="item-bar">
            <a href="../acerca_de/index.html">Acerca del juego</a>
        </div>
    </div>
    <div class="bar-content-right">
        <div class="item-bar">
            <a id="boton-ingresar" href="../sesion/ingresar.html">Ingresar</a>
        </div>
    </div>
</div>
