body {
    margin: 0px;
    background-color: #d9d9d9;
}

.main-container {
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    background-color: #e1e5f2;
}

.background-title {
    position: relative;
    min-height: 40vh;
    background: #022b3a;
}

.background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.background-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.3;
    border-style: none;
}

.title-container {
    margin: 0;
    padding: 20vh 2% 0;
}

#titulo {
    margin: 0;
    font-family: Arial;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 1.2em;
    text-transform: none;
    color: #ffffff;
}

.collection-result-container {
    display: flex;
    min-height: 40vh;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1%;
    background-color: #1f7a8c;
}

.title-collection {
    padding: 3% 0 2%;
    font-family: Arial;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2em;
    text-transform: none;
    text-align: center;
    color: #ffffff;
}

.collection {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

.item-collection {
    display: block;
    flex: 1 1 30%;
    max-width: 35%;
    min-width: 150px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}

.item-image-container {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.item-image-container * {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 20vw;
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.item-collection:hover .item-image-container * {
    transform: scale3d(1.05, 1.05, 1);
}

.item-name-container {
    background-color: #022b3a;
    display: block;
    padding: 4% 8%;
    transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    cursor: pointer;
}

.item-name-container:hover {
    background-color: #1f7a8c;
}

.item-name {
    display: inline-block;
    font-style: italic;
    color: white;
    font-family: Arial;
    font-size: calc(10px + 1vw);
    font-weight: 600;
}

@media (min-width: 600px){
    .item-name {
        font-size: 20px;
    }
}

.item-value {
    display: inline-block;
    font-style: italic;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    padding: 4% 8%;
}